# Overview

# PDF

In [ ]:
from fpdf import FPDF 
import pandas as pd
import yfinance as yf

In [ ]:
import get_candle_data

In [ ]:
get_candle_data.maximum_days_yfinance

In [ ]:
time_frame = "60m"
stock_name = "ULTRACEMCO.NS"

In [ ]:
'1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max'.split(',')

In [ ]:
# 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
for time in '2m'.split(','):
    data = get_candle_data.get_candle_data_from_yfinance(tickers=["ULTRACEMCO.NS","TATAMOTORS.NS"],period='max', interval=time)
    print(time,data)

In [ ]:
tickets_list = ['DATAPATTNS.NS']

In [ ]:
data = get_candle_data.get_candle_data_from_yfinance(tickers=tickets_list,period='max', interval='60m')

In [31]:
# for 
yf.download(tickers='STARHEALTH.NS', period='590d', interval='1h')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-12-27 09:15:00+05:30,785.150024,801.500000,785.049988,798.000000,798.000000,0
2021-12-27 10:15:00+05:30,798.000000,798.450012,794.799988,795.650024,795.650024,313267
2021-12-27 11:15:00+05:30,796.150024,798.000000,793.650024,797.049988,797.049988,33333
2021-12-27 12:15:00+05:30,796.500000,798.000000,796.500000,797.000000,797.000000,5524
2021-12-27 13:15:00+05:30,797.000000,798.000000,795.250000,797.450012,797.450012,5675
...,...,...,...,...,...,...
2024-05-17 11:15:00+05:30,549.599976,550.700012,547.799988,550.000000,550.000000,24145
2024-05-17 12:15:00+05:30,550.450012,553.150024,550.000000,551.599976,551.599976,27831
2024-05-17 13:15:00+05:30,551.549988,552.400024,550.000000,550.849976,550.849976,24209
2024-05-17 14:15:00+05:30,551.400024,555.000000,550.000000,553.950012,553.950012,36402
2024-05-17 15:15:00+05:30,553.950012,555.750000,553.500000,554.400024,554.400024,0

In [ ]:
for i in data:
    print(i)
    print(data[i])

In [21]:
stock_data = pd.read_excel("stock market names.xlsx",sheet_name='Stock_list')

In [22]:
total_rows = len(stock_data)
stock_name_list = []

In [23]:
for index in range(0, total_rows):
    stock_name = stock_data.iloc[index]['YFINANCE']
    stock_name_list.append(stock_name)
    # break

In [33]:
data = get_candle_data.get_candle_data_from_yfinance(tickers=stock_name_list[300:400],period='max', interval='60m')

[*********************100%%**********************]  100 of 100 completed

10 Failed downloads:
['SPLPETRO.NS']: IndexError('Boolean index has wrong length: 5 instead of 4')
['NAVA.NS']: IndexError('Boolean index has wrong length: 3 instead of 2')
['FINOPB.NS']: Exception('%ticker%: 1h data not available for startTime=1636688700 and endTime=1716040939. The requested range must be within the last 730 days.')
['MOL.NS']: Exception('%ticker%: 1h data not available for startTime=1629258300 and endTime=1716040942. The requested range must be within the last 730 days.')
['CMSINFO.NS']: Exception('%ticker%: 1h data not available for startTime=1640922300 and endTime=1716040942. The requested range must be within the last 730 days.')
['ANANDRATHI.NS']: Exception('%ticker%: 1h data not available for startTime=1639453500 and endTime=1716040944. The requested range must be within the last 730 days.')
['IONEXCHANG.NS']: Exception('%ticker%: 1h data not available for startTime=1645501500 and endTime=1716040946. The requested range must be within the last 730 days.')
['DEVYANI.NS']: Exception('%ticker%: 1h data not available for startTime=1629085500 and endTime=1716040956. The requested range must be within the last 730 days.')
['HINDWAREAP.NS']: IndexError('Boolean index has wrong length: 2 instead of 1')
['CARYSIL.NS']: IndexError('Boolean index has wrong length: 3 instead of 1')